// common
$borderRadius: 5px;

// tabs
$tabTextColor: grey;
$tabTextColorHover: black;

// pages
// desktop
$pageWidth: 100%;
$pageHeight: 500px;

// btns
$btnTextColor: grey;
$btnTextColorHover: black;
$btnSize: 50px;