@import "vars";
@import "normailze";
@import "mixinis";

:root {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    padding-bottom: 20px;
    &.noscroll {
        overflow: hidden;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}

// header 
.header {
    padding: 20px 0;
}

// main
.main {}

// tabs
.pages-tab-block {
    &__content {
        @include flex;
        padding: 0 15px;
    }
}

@import "./components/btn";
@import "./components/tabs";
@import "./components/page-menu";
@import "./components/pages";
