@import "vars";
@import "normailze";
@import "mixinis";

body {
    font-family: sans-serif;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

// header 
.header {}

// main
.main {}

.pages-tab-block {}
.tabs {
    @include flex;
    border-bottom: 1px solid silver;
    &__item {
        text-align: center;
        padding: 10px 20px;
        span {
            display: block;
            &:first-child {
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
            &:last-child {}
        }
        
    }
}