* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  padding-bottom: 20px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 20px 0;
}

.pages-tab-block__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50px;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  width: 50px;
  height: 50px;
  border: 1px solid silver;
  margin: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover::before {
  color: black;
}

.btn::before {
  position: absolute;
  font-size: 25px;
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  color: grey;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.btn--link::before {
  content: "\f35d";
}

.btn--full-screen::before {
  content: "\f065";
}

.btn--up {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 60px;
      -ms-flex: 1 0 60px;
          flex: 1 0 60px;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: rgba(192, 192, 192, 0.5);
  color: grey;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  cursor: pointer;
}

.btn--up:hover {
  background: silver;
}

.btn--up::before {
  content: "\f102";
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid silver;
}

.tabs__item {
  text-align: center;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  color: grey;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.tabs__item:hover {
  color: black;
}

.tabs__item span {
  display: block;
}

.tabs__item span:first-child {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.tabs__item--active {
  border: 1px solid silver;
  border-bottom: none;
  color: black;
}

.tabs__item--active::before {
  content: '';
  position: absolute;
  background: white;
  bottom: -1px;
  left: -1px;
  width: 100%;
  height: 5px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

.page-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px 0;
}

.page-menu__item a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 5px;
  border: 1px solid silver;
  color: grey;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  position: relative;
}

.page-menu__item a:hover {
  color: black;
}

.page-menu__item a::before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  content: attr(data-number);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  font-weight: bold;
}

.pages {
  width: 90%;
}

.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 500px;
  background: white;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.page::before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  content: attr(data-number);
  width: 20px;
  height: 20px;
  background: #efb428;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.page__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.page__info-wrapper {
  margin-right: 20px;
}

.page__name a {
  color: black;
}

.page iframe {
  width: 100%;
  height: 100%;
}

.page:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */