#brandsPage {
  // pageHeaderBlock ---------------------------
  // in _custom.scss
  // ===========================================

  // manufacturerBlock -------------------------
  .manufacturer {
    margin-bottom: $outerBlockMargin;
    &__content {
      background: $colorBgLightGray;
      border-radius: $mainBorderRadius;
      padding: 20px 20px 25px 20px;
      width: 100%;
    } // __content
    .manufacturerList {
      width: 100%;
      &__items {
        @include flex(center, flex-start);
        flex-wrap: wrap;
        width: 100%;
      } // __items
      &__item {
        $borderColor: $colorYellow;
        $contentWidth: 100%;
        $gutterBlock: 15px;
        $itemWidth: calc( ( #{$contentWidth} - ( #{$gutterBlock * 3} ) ) / 4 );
        display: block;
        margin-bottom: $gutterBlock;
        margin-right: $gutterBlock;
        position: relative;
        text-decoration: none;
        transition: transform .3s;
        white-space: nowrap;
        width: $itemWidth;
        &:hover {
          cursor: pointer;
          &::before, &::after {
            transform: scale(1, 1);
          } // before
          .brandData {
            &__title {
              color: $colorYellow;
              &::before {
                width: 100%;
              } // before
            } // __title
          } // brandData
        } // hover
        &:nth-child(4n) {
          margin-right: 0;
        } // nth-child(4n)
        &::before, &::after {
          content: '';
          position: absolute;
          transition: transform .3s;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
        } // before
        &::before {
          border-top: 1px solid $borderColor;
          border-bottom: 1px solid $borderColor;
          transform: scale(0, 1);
        } // before
        &::after {
          border-right: 1px solid $borderColor;
          border-left: 1px solid $borderColor;
          transform: scale(1, 0);
        } // before
        .brandData {
          background: white;
          border-radius: $mainBorderRadius;
          color: $colorDarkGray;
          overflow: hidden;
          padding: 25px 20px;
          position: relative;
          width: 100%;
          &::before {
            @include gradientBorderColor(white, 20px, 0);
            z-index: 1;
          } // before
          &::after {
            @include gradientBorderColor(white, 40px, 100%);
            height: 30%;
            right: 20px;
            z-index: 1;
          } // after
          &__title {
            display: inline-block;
            font-size: 18px;
            text-align: center;
            margin-bottom: $blockTitleMarginBottom;
            max-width: 100%;
            position: relative;
            transition: color .3s;
            white-space: nowrap;
            &::before {
              @include makeUnderline($colorYellow, -1px);
            } // before
          } // __title
          &__content {
            @include flex(center, space-between);
            .brandLogo {
              $imgSize: 80px;
              padding-right: 10px;
              height: $imgSize;
              min-width: $imgSize;
              width: $imgSize;
              img {
                object-fit: contain;
                object-position: center;
                height: $imgSize;
                width: $imgSize;
              } // img
            } // brandLogo
            .brandInfo {
              @include flex(stretch, space-between);
              .rating {
                padding: 0 5px;
                &__title {
                  color: $colorColName;
                  font-size: 13px;
                  margin-bottom: 15px;
                } // __title
                .ratingCircle {
                } // ratingCircle
                &__averageInfo {
                  @include flex(center, center);
                  flex-direction: column;
                  .assessment {
                    @include flex(center, center);
                    margin-bottom: 10px;
                    &__value {
                      font-size: 18px;
                      font-weight: bold;
                      margin-right: 5px;
                    } // __value
                  } // assessment
                  .amountReview {
                    @include flex(flex-end, center);
                    font-size: 14px;
                    &__value {
                      font-weight: bold;
                      margin-right: 5px;
                    } // __value
                  } // amoutnReview
                } // __averageInfo
              } // rating
            } // brandInfo
          } // __content
        } // brandData
        &-hidden {
          display: none;
        } // hidden
      } // __item
    } // manufacturerList

    // @MEDIA ---------------------------
    @media screen and ( max-width: 1170px ) {
      .manufacturerList {
        &__item {
          $contentWidth: 100%;
          $gutterBlock: 15px;
          $collCount: 3;
          $itemWidth: calc( ( #{$contentWidth} - ( #{$gutterBlock} * (#{$collCount} - 1) ) ) / #{$collCount} );
          margin-bottom: $gutterBlock;
          margin-right: $gutterBlock;
          width: $itemWidth;
          &:nth-child(#{$collCount + 1}n) {
            margin-right: $gutterBlock;
          } // nth-child(4n)
          &:nth-child(#{$collCount}n) {
            margin-right: 0;
          } // nth-child(4n)
          .brandData {
            background: white;
            border-radius: $mainBorderRadius;
            color: $colorDarkGray;
            padding: 25px 20px;
            transition: transform .5s, box-shadow .5s;
            width: 100%;
            &__title {
              display: inline-block;
              font-size: 18px;
              text-align: center;
              margin-bottom: $blockTitleMarginBottom;
              position: relative;
              transition: color .3s;
              &::before {
                @include makeUnderline($colorYellow, -1px);
              } // before
            } // __title
            &__content {
              @include flex(center, space-between);
              .brandLogo {
                padding-right: 10px;
                min-width: 75px;
                width: 80px;
              } // brandLogo
              .brandInfo {
                @include flex(stretch, space-between);
                .rating {
                  padding: 0 5px;
                  &__title {
                    color: $colorColName;
                    font-size: 13px;
                    margin-bottom: 15px;
                  } // __title
                  .ratingCircle {
                  } // ratingCircle
                  &__averageInfo {
                    @include flex(center, center);
                    flex-direction: column;
                    .assessment {
                      @include flex(center, center);
                      margin-bottom: 10px;
                      &__value {
                        font-size: 18px;
                        font-weight: bold;
                        margin-right: 5px;
                      } // __value
                    } // assessment
                    .amountReview {
                      @include flex(flex-end, center);
                      font-size: 14px;
                      &__value {
                        font-weight: bold;
                        margin-right: 5px;
                      } // __value
                    } // amoutnReview
                  } // __averageInfo
                } // rating
              } // brandInfo
            } // __content
          } // brandData
        } // __item
      } // manufacturerList
    } // 1170
    @media screen and ( max-width: 1000px ) {
      .manufacturerList {
        &__item {
          $contentWidth: 100%;
          $gutterBlock: 15px;
          $collCount: 2;
          $itemWidth: calc( ( #{$contentWidth} - ( #{$gutterBlock} * (#{$collCount} - 1) ) ) / #{$collCount} );
          margin-bottom: $gutterBlock;
          margin-right: $gutterBlock;
          width: $itemWidth;
          &:nth-child(#{$collCount + 1}n) {
            margin-right: $gutterBlock;
          } // nth-child(2n)
          &:nth-child(#{$collCount}n) {
            margin-right: 0;
          } // nth-child(3n)
        } // __item
      } // manufacturerList
    } // 1000
    // ==================================

  } // manufacturerBlock
  // ===========================================

  // comparisonBlock ---------------------------
  .comparisonBlock {
    margin-bottom: 30px;
    &__mainContent {
      @include flex(flex-start, flex-start);
    } // __mainContent
    &__content {
      border-radius: 3px;
      background: $colorBgLightGray;
      margin-right: $gutterX2;
      overflow: hidden;
      padding: 15px;
      width: $col8Width;
    } // __content
  } // comparisonBlock
  .comparisonBlockItems {
    $blockWidth: 100%;
    @include flex(stretch, flex-start);
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: $blockWidth;
    .comparisonBlockItem {
      $itemGutter: 7.5px;
      $itemWidth: calc( #{$blockWidth} / 3 - #{$itemGutter} * 2 );
      color: $colorDarkGray;
      max-width: $itemWidth;
      min-width: $itemWidth;
      margin: $itemGutter;
      text-decoration: none;
      &__brands {
        background: white;
        border-radius: 3px;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        perspective: 1000px;
        &::before, &::after {
          content: '';
          position: absolute;
          transition: transform .3s ;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        } // before
        &::before {
          border-top: 1px solid $colorYellow;
          border-bottom: 1px solid $colorYellow;
          transform: scale(0, 1);
        } // before
        &::after {
          border-right: 1px solid $colorYellow;
          border-left: 1px solid $colorYellow;
          transform: scale(1, 0);
        } // before
        .brandsBlock {
          $offsetElement: 15px;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 70px;
          &__img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 30px;
            width: 120px;
          } // __img
          &-top {
            //border-bottom: 1px solid $colorLightGray;
            position: relative;
            &::before, &::after {
              content: '';
              display: block;
              position: absolute;
              bottom: -1px;
              left: 0;
              transition: transform .3s;
            } // before, after
            &::before {
              background: $colorLightGray;
              height: 1px;
              width: 100%;
            } // before
            &::after {
              background: $colorYellow;
              transform: scale(0);
              height: 1px;
              width: 100%;
            } // before
            & > div {
              margin-bottom: $offsetElement;
            } // div
          } // -top
          &-bottom {
            & > div {
              margin-top: $offsetElement;
            } // div
          } // -bottom
        } // blockTop
        .blockSeparator {
          $separCircelSize: 41px;
          align-items: center;
          display: flex;
          justify-content: center;
          background: $colorYellow;
          border-radius: 50%;
          color: white;
          font-size: 16px;
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotateX(0) translate(-50% , -50%);
          transform-origin: top;
          transition: transform 1s;
          height: $separCircelSize;
          width: $separCircelSize;
        } // blockSeparator
      } // __brands
      &__description {
        font-size: 16px;
        line-height: 18px;
        transition: color .3s;
      } // __description
      &:hover {
        cursor: pointer;
        .comparisonBlockItem__brands {
          &::before, &::after {
            transform: scale(1, 1);
          } // before
          .brandsBlock {
            &-top {
              &::before,&::after {
                transform: scale(.7);
              } // before
            } // -top
          } // brandsBlock
        } // comparisonBlockItem__brands
        .comparisonBlockItem__description {
          color: $colorYellow;
          text-decoration: underline;
        } // comparisonBlockItem__description
        .blockSeparator {
          transform: rotateX(360deg) translate(-50% , -50%);
          box-shadow: 2px 2px 5px #00000045;
        } // blockSeparator
      } // hover
    } // comparisonBlockItem
  } // comparisonBlockItems

  // @MEDIA ---------------------------
  @media screen and ( max-width: 1170px ) {
    .comparisonBlock {
      margin-bottom: 30px;
      &__mainContent {
        flex-direction: column;
      } // __mainContent
      &__content {
        margin-right: 0;
        margin-bottom: 30px;
        overflow: hidden;
        padding: 15px;
        width: 100%;
      } // __content
      .widgetsArea {
        @include flex(flex-start, center);
        width: 100%;
        .widget {
          @include widthPercent(50%);
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          } // last-child
          .widgetContent {
          } // widgetContent
        } // widget
      } // widgetArea
    } // comparisonBlock
    .comparisonBlockItems {
      $blockWidth: 100%;
      @include flex(stretch, flex-start);
      flex-wrap: wrap;
      margin-bottom: 20px;
      width: $blockWidth;
      .comparisonBlockItem {
        $itemGutter: 7.5px;
        $itemWidth: calc( #{$blockWidth} / 3 - #{$itemGutter} * 2 );
        color: $colorDarkGray;
        max-width: $itemWidth;
        min-width: $itemWidth;
        margin: $itemGutter;
        text-decoration: none;
        &__brands {
          background: white;
          border-radius: 3px;
          margin-bottom: 15px;
          overflow: hidden;
          position: relative;
          perspective: 1000px;
          &::before, &::after {
            content: '';
            position: absolute;
            transition: transform .3s ;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          } // before
          &::before {
            border-top: 1px solid $colorYellow;
            border-bottom: 1px solid $colorYellow;
            transform: scale(0, 1);
          } // before
          &::after {
            border-right: 1px solid $colorYellow;
            border-left: 1px solid $colorYellow;
            transform: scale(1, 0);
          } // before
          .brandsBlock {
            $offsetElement: 15px;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 70px;
            &__img {
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              height: 30px;
              width: 120px;
            } // __img
            &-top {
              //border-bottom: 1px solid $colorLightGray;
              position: relative;
              &::before, &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -1px;
                left: 0;
                transition: transform .3s;
              } // before, after
              &::before {
                background: $colorLightGray;
                height: 1px;
                width: 100%;
              } // before
              &::after {
                background: $colorYellow;
                transform: scale(0);
                height: 1px;
                width: 100%;
              } // before
              & > div {
                margin-bottom: $offsetElement;
              } // div
            } // -top
            &-bottom {
              & > div {
                margin-top: $offsetElement;
              } // div
            } // -bottom
          } // blockTop
          .blockSeparator {
            $separCircelSize: 41px;
            align-items: center;
            display: flex;
            justify-content: center;
            background: $colorYellow;
            border-radius: 50%;
            color: white;
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotateX(0) translate(-50% , -50%);
            transform-origin: top;
            transition: transform 1s;
            height: $separCircelSize;
            width: $separCircelSize;
          } // blockSeparator
        } // __brands
        &__description {
          font-size: 16px;
          line-height: 18px;
          transition: color .3s;
        } // __description
        &:hover {
          cursor: pointer;
          .comparisonBlockItem__brands {
            &::before, &::after {
              transform: scale(1, 1);
            } // before
            .brandsBlock {
              &-top {
                &::before,&::after {
                  transform: scale(.7);
                } // before
              } // -top
            } // brandsBlock
          } // comparisonBlockItem__brands
          .comparisonBlockItem__description {
            color: $colorYellow;
            text-decoration: underline;
          } // comparisonBlockItem__description
          .blockSeparator {
            transform: rotateX(360deg) translate(-50% , -50%);
            box-shadow: 2px 2px 5px #00000045;
          } // blockSeparator
        } // hover
      } // comparisonBlockItem
    } // comparisonBlockItems
  } // 1170
  // ==================================
  // ===========================================

  // widgets area ------------------------------
  // @MEDIA -----------------------
  @media screen and ( max-width: 1170px ) {
    #responceTempBlock {
      @include flex(flex-start, flex-start);
      margin-bottom: $outerBlockMargin;
      min-width: 100%;
      width: 100%;
    } // widgerArea
    .widget {
      width: 50%;
      margin-right: $gutterX2;
      &:last-child {
        margin-right: 0;
      } // last-child
    } // widget
  }
  // ==============================
  // ===========================================

  // reviewsBlock ------------------------------
  .reviewsBlock {
    @include flex(flex-start, space-between);
    margin-bottom: $outerBlockMargin;
    .contentArea {
      &__reviews {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        } // last-child
        .review {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          } // last-child
        } // review
      } // reviews
      &__pagination {
        margin-bottom: 30px;
      } // pagination
      &__addReview {
      } // __addReview
    } // contentArea
    .widgetsArea {
      .widget {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        } // last-child
      } // widget
    } // widgetsArea

    // @MEDIA ---------------------------
    @media screen and ( max-width: 1170px ) {
      flex-direction: column;
      .contentArea {
        margin-bottom: 30px;
        width: 100%;
      }
      // contentArea
      .widgetsArea {
        width: 100%;
        .widget {
          width: 100%;
        }
        // widget
      }
      // widgetsArea
    }
    // ==================================

  } // reviewBlock;
  // ===========================================
} // brandsPage